* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: #e85d5d;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0px 10px;
  min-height: 100vh;
}
.emisor {
  background-color: red;
}
.receptor {
  background-color: blue;
}
